body {
  background-color: #222;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: brown;
  display: block;
  background: wheat;
  padding: 1%;
  margin: 0;
}

svg {
  background: wheat;
  user-select: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
}

.meteorites {
  fill: hsl(332, 100%, 50%);
}

.meteorites:hover {
  z-index: 2;
  fill: blue;
}

.temptext {
  background-color: aliceblue;
}

.window {
  height: 250px;
  width: 200px;
  background-color: hsla(270,100%,60%, 0.8);
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 10px;
  border-radius: 4px;
  border: thin solid wheat;
}

.window.close {
  display: none;
}

.flat {
  margin-top: 0;
  margin-bottom: 14px;
}
